<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Created By</option>
        <option value="lastUpdated">Last Updated</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->
      <table class="table">
	  <tr>
	  <th>Number</th>
	  <th>Name</th>
	  <th>Last Run</th>
	  <th>Created By</th>
	  <th>Last Updated</th>
	  <th>Schedule</th>
 	  </tr>
	  <tr ng-repeat="app in apps | filter:query | orderBy:orderProp">
	       <td ng-repeat="value in app"><a href="#">{{value}}</a><td> 
	</tr>
      </table>

    </div>
  </div>
</div>
